body {
	background-color: #232323;
	font-family: Arial, Helvetica;
}

.container{
	background-color: #eeeeee;
	border-radius: 3px;
	font-size: 16px;
	padding: 30px 20px 20px 20px;
	margin: 30px 20px 20px 20px;
}

h1 {
	color: #222222;
	text-align: center;
}

h2 {
	color: #222222;
}

a {
	color:#000000;
}

a:hover {
	color:#333333;
}
