@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("fontawesome-all.min.css");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}


.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-top {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.profile-image {
	flex: 0 0 400px;
	margin-right: 30px;
}

.profile-image img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 50%;
}

.profile-links {
	text-align: center;
}

.profile-text {
	text-align: left;
	min-width: 250px;
}

html,
body {
	background: #ddd;
	color: #ddd;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	line-height: 1.75em;
	letter-spacing: -0.025em;
	overflow: hidden;
}

a {
	border-bottom: dotted 1px;
	color: #66b8ff;
	text-decoration: none;
	transition: border-color 0.2s ease-in-out;
}

a:hover {
	border-color: transparent;
}

ul {
	list-style: none;
}

.icon {
	position: relative;
	text-decoration: none;
}

.icon::before {
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
	text-rendering: auto;
}

.icon.solid::before {
	font-weight: 900;
}

.icon.brands::before {
	font-family: 'Font Awesome 5 Brands';
}

.icon>.label {
	display: none;
}

/* Background */
#bg {
	background: #212529;
	background-size: 2250px auto;
	background-repeat: repeat-x;
	position: fixed;
	width: 6750px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 1;
}

/* Main */
#main {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

#main::before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 100%;
	vertical-align: middle;
}


/* Header */

@-moz-keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-ms-keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes header {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-moz-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@-ms-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0, 1em, 0);
		-webkit-transform: translate3d(0, 1em, 0);
		-ms-transform: translate3d(0, 1em, 0);
		transform: translate3d(0, 1em, 0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

#header {
	-moz-animation: header 1s 2.25s forwards;
	-webkit-animation: header 1s 2.25s forwards;
	-ms-animation: header 1s 2.25s forwards;
	animation: header 1s 2.25s forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	cursor: default;
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: center;
	top: -1em;
	vertical-align: middle;
	width: 90%;
}

#header h1 {
	font-size: 4.35em;
	font-weight: 900;
	letter-spacing: -0.035em;
	line-height: 1em;
}

#header p {
	font-size: 1.25em;
	margin: 0.75em 0 0.25em 0;
	opacity: 0.75;
}

#header nav {
	margin: 1.5em 0 0 0;
}

#header nav li {
	-moz-animation: nav-icons 0.5s ease-in-out forwards;
	-webkit-animation: nav-icons 0.5s ease-in-out forwards;
	-ms-animation: nav-icons 0.5s ease-in-out forwards;
	animation: nav-icons 0.5s ease-in-out forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: inline-block;
	height: 5.35em;
	line-height: 5.885em;
	opacity: 0;
	position: relative;
	top: 0;
	width: 5.35em;
}

#header nav li:nth-child(1) {
	-moz-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

#header nav li:nth-child(2) {
	-moz-animation-delay: 2.75s;
	-webkit-animation-delay: 2.75s;
	-ms-animation-delay: 2.75s;
	animation-delay: 2.75s;
}

#header nav li:nth-child(3) {
	-moz-animation-delay: 3s;
	-webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}

#header nav li:nth-child(4) {
	-moz-animation-delay: 3.25s;
	-webkit-animation-delay: 3.25s;
	-ms-animation-delay: 3.25s;
	animation-delay: 3.25s;
}

#header nav li:nth-child(5) {
	-moz-animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

#header nav li:nth-child(6) {
	-moz-animation-delay: 3.75s;
	-webkit-animation-delay: 3.75s;
	-ms-animation-delay: 3.75s;
	animation-delay: 3.75s;
}

#header nav li:nth-child(7) {
	-moz-animation-delay: 4s;
	-webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}

#header nav li:nth-child(8) {
	-moz-animation-delay: 4.25s;
	-webkit-animation-delay: 4.25s;
	-ms-animation-delay: 4.25s;
	animation-delay: 4.25s;
}

#header nav li:nth-child(9) {
	-moz-animation-delay: 4.5s;
	-webkit-animation-delay: 4.5s;
	-ms-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

#header nav li:nth-child(10) {
	-moz-animation-delay: 4.75s;
	-webkit-animation-delay: 4.75s;
	-ms-animation-delay: 4.75s;
	animation-delay: 4.75s;
}

#header nav a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: #66b8ff;
	-webkit-touch-callout: none;
	border: 0;
	display: inline-block;
}

#header nav a:before {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px #ddd;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2.5em;
}

#header nav a:hover {
	font-size: 1.1em;
}

#header nav a:hover:before {
	background-color: rgba(255, 255, 255, 0.175);
	color: #ddd;
}

#header nav a:active {
	font-size: 0.95em;
	background: none;
}

#header nav a:active:before {
	background-color: rgba(255, 255, 255, 0.35);
	color: #ddd;
}

#header nav a span {
	display: none;
}

/* Footer */

#footer {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 75%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 75%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 75%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 75%);
	bottom: 0;
	cursor: default;
	height: 6em;
	left: 0;
	line-height: 8em;
	position: absolute;
	text-align: center;
	width: 100%;
}


/* Animations */
@keyframes fadeInUp {
	from {
		transform: translateY(1em);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Responsive Fonts */
@media screen and (max-width: 1680px) {
	body {
		font-size: 13pt;
	}

	#bg {
		background-size: 1500px auto;
		width: 4500px;
	}
}

@media screen and (max-width: 1280px) {
	body {
		font-size: 12pt;
	}

	#bg {
		background-size: 750px auto;
		width: 2250px;
	}
}

@media screen and (max-width: 736px) {
	body {
		font-size: 11pt;
		min-width: 320px;
	}

	#bg {
		background-size: 300px auto;
		width: 900px;
	}

	#header h1 {
		font-size: 2.5em;
	}

	#header p,
	#header nav,
	#header nav a:hover,
	#header nav a:active {
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {
	#bg {
		background-size: 412.5px auto;
		width: 1237.5px;
	}

	#header nav {
		padding: 0 1em;
	}
}